.about {
  display: flex;
  flex-direction: column;
  width: 261px;
  margin: 0 auto;
}

.about__title {
  .title();
  margin: 0;
  padding-top: 70px;
  align-self: flex-start;
}

@media (min-width: @tablet-width) {
  .about {
    width: 660px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 117px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    align-items: center;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
    width: 707px;
    padding-top: 154px;
    align-self: auto;
  }
}
