.about {
  .margin-reset();
}

.about__title {
  .title();
  .margin-reset();
  padding-top: 96px;
}

.about__list {
  .margin-reset();
}

.about__list-item {
  line-height: 20px;
  padding-top: 88px;
}
