.about {
  width: 261px;
  margin: 0 auto;
  margin-top: 32px;
}

.about__title {
  .title();
  margin: 0;
  padding-top: 28px;
  align-self: flex-start;
}

@media (min-width: @tablet-width) {
  .about {
    width: 675px;
    margin-top: 57px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 50px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    width: 706px;
    align-items: center;
    margin-top: 85px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
    width: 707px;
    padding-top: 60px;
    align-self: auto;
  }
}
