.about-list-group__list {
  .list-reset();
  display: flex;
  flex-direction: column;
}

.about-list-group__list-item {
  line-height: 20px;
  position: relative;
  padding-top: 84px;

  &::before {
    position: absolute;
    content: "";
    top: 31px;
  }

  &--flower {
    width: 175px;

    &::before {
      background-image: url("../img/icon-feature-flower.svg");
      width: 32px;
      height: 37px;
      left: 10px;
    }
  }

  &--banknote {
    width: 200px;

    &::before {
      background-image: url("../img/icon-feature-money.svg");
      width: 46px;
      height: 27px;
      left: 1px;
    }
  }

  &--heart {
    width: 185px;

    &::before {
      background-image: url("../img/icon-feature-heart.svg");
      width: 33px;
      height: 27px;
      left: 9px;
      top: 35px;
    }
  }

  &--ball {
    width: 240px;
    padding-top: 83px;

    &::before {
      background-image: url("../img/icon-feature-ball.svg");
      width: 34px;
      height: 34px;
      left: 5px;
    }
  }

  &--rocket {
    width: 250px;
    padding-top: 81px;

    &::before {
      background-image: url("../img/icon-feature-rocket.svg");
      width: 55px;
      height: 23px;
      left: -4px;
    }
  }

  &--gift {
    width: 230px;

    &::before {
      background-image: url("../img/icon-feature-gift.svg");
      width: 32px;
      height: 32px;
      left: 5px;
      top: 28px;
    }
  }
}

@media (min-width: @tablet-width) {
  .about-list-group {
    display: flex;
  }

  .about-list-group__list {
    &:first-of-type {
      width: 334px;
      padding-left: 4px;
    }
  }

  .about-list-group__list-item {
    font-size: 20px;
    line-height: 22px;

    &--ball {
      width: 250px;
      padding-top: 104px;

      &::before {
        left: 4px;
        top: 54px;
      }
    }

    &--rocket {
      width: 295px;
      padding-top: 113px;

      &::before {
        left: -5px;
        top: 62px;
      }
    }

    &--flower {
      width: 205px;
      padding-top: 104px;

      &::before {
        top: 50px;
      }
    }

    &--banknote {
      width: 240px;
      padding-top: 112px;

      &::before {
        top: 60px;
      }
    }

    &--heart {
      width: 215px;
      padding-top: 112px;

      &::before {
        top: 64px;
      }
    }

    &--gift {
      padding-top: 113px;
      width: 235px;

      &::before {
        left: 3px;
        top: 59px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .about-list-group {
    width: 735px;
  }

  .about-list-group__list {
    width: 330px;

    &:first-of-type {
      width: 350px;
      padding-left: 19px;
    }
  }
}
