.banner {
  text-align: center;
  color: #010000;
  display: flex;
  align-items: center;
  background-color: @darkgray;
  min-height: 177px;
  justify-content: center;

  &--index {
    min-height: 300px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-color: @lightgray;
  }

  &--catalog {
    margin-bottom: 30px;
  }
}

.banner__title {
  font-size: 27px;
  line-height: 30px;
  margin: 0 10px;
}

@media (min-width: @tablet-width) {
  .banner__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 121px;

    &--catalog,
    &--form {
      padding-top: 0;
    }
  }

  .banner {
    align-items: flex-start;

    &--index {
      min-height: 630px;
      background-image: url("../img/hero-tablet@1x.jpg");
    }

    &--catalog {
      margin-bottom: 79px;
      align-items: center;
    }

    &--form {
      align-items: center;
    }
  }
}

@media (min-width: @desktop-width) {
  .banner {
    &--index {
      background-color: @lightgray;
    }

    &--catalog {
      margin-bottom: 128px;
    }
  }

  .banner__title {
    font-size: 53px;
    line-height: 57px;
  }
}
