.button {
  font-size: inherit;
  font-weight: inherit;
  line-height: 20px;
  text-transform: uppercase;
  color: @grayish;
  width: 259px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: @white;
  border: 2px solid #444444;
  cursor: pointer;

  &:hover {
    color: @white;
    background-color: @grayish;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--catalog-buy {
    width: 20.3px;
    height: 18px;
    padding: 0;
    opacity: 0.2;
    border: none;

    &:hover {
      background-color: transparent;
      opacity: 1;
    }
  }

  &--form {
    width: 260px;
    line-height: 16px;

    &:hover {
      color: @white;
      background-color: @grayish;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.button__basket-btn {
  &:hover {
    fill: @lightgreen;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .button {
    width: 292px;

    &--catalog-buy {
      width: 20px;
    }

    &--form {
      width: 230px;
    }
  }
}

@media (min-width: @desktop-width) {
  .button {
    &--form {
      margin-left: 0;
    }

    &--catalog-buy {
      min-height: 25px;
    }
  }

  .button__basket-btn {
    padding-top: 5px;
    padding-bottom: 12px;
  }
}
