.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__list {
  .list-reset();
}

.catalog__list-item {
  width: 260px;
}

@media (min-width: @tablet-width) {
  .catalog {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 83px;
  }

  .catalog__list {
    width: 666px;
  }

  .catalog__list-item {
    width: 670px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    margin-top: 130px;
  }

  .catalog__list {
    display: flex;
    width: 1102px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .catalog__list-item {
    width: 318px;
  }
}
