.category-list {
  background-color: @lightgray;
}

.category-list__container {
  .list-reset();
  display: flex;
  flex-direction: column;
}

.category-list__item {
  &--interior {
    background-color: @lightgreen;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.category-list__link {
  font-size: 19px;
  display: flex;
  align-items: center;
  padding-left: 29px;
  min-height: 103px;
  color: @white;
}

@media (min-width: @tablet-width) {
  .category-list__container {
    flex-direction: row;
    justify-content: center;
    margin: 0 52px;
  }

  .category-list__item {
    font-size: 20px;
    line-height: 30px;
    width: 334px;
    padding-left: 36px;
  }
}

@media (min-width: @desktop-width) {
  .category-list__container {
    margin: 0 50px;
  }

  .category-list__item {
    width: 525px;
  }
}
