.category-list {
  background-color: @lightgray;
}

.category-list__container {
  .list-reset();
  display: flex;
  flex-direction: column;
}

.category-list__item {
  &--interior {
    background-color: @lightgreen;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.category-list__link {
  font-size: 19px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 22px;
  min-height: 103px;
  color: @white;

  &::after {
    position: absolute;
    opacity: 0.5;
    content: "";
  }

  &--interior {
    &::after {
      background-image: url("../img/icon-interior.svg");
      width: 40px;
      height: 62px;
      right: 26px;
      top: 24px;
    }
  }

  &--toys {
    &::after {
      background-image: url("../img/icon-toy.svg");
      width: 60px;
      height: 60px;
      right: 18px;
      top: 21px;
    }
  }
}

@media (min-width: @tablet-width) {
  .category-list {
    position: relative;
  }

  .category-list__container {
    flex-direction: row;
    justify-content: center;
    width: 684px;
    min-height: 119px;
    margin: 0 auto;
  }

  .category-list__item {
    width: 334px;

    &--interior {
      width: 333px;
      margin-left: 17px;
    }
  }

  .category-list__link {
    font-size: 20px;
    line-height: 30px;
    min-height: 115px;
    padding-left: 35px;

    &--interior {
      &::after {
        right: 36px;
        top: 30px;
      }
    }

    &--toys {
      &::after {
        right: 33px;
        top: 31px;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .category-list {
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 15px;
      background-image: url("../img/bg-zigzag-fill.svg");
    }
  }

  .category-list__container {
    width: 1050px;
  }

  .category-list__item {
    width: 525px;

    &--interior {
      margin-left: 0;
    }
  }
}
