.contacts-map {
  width: 303px;
  height: 457px;
  border: 0;
  margin: 0 auto;
  display: block;
}

@media (min-width: @tablet-width) {
  .contacts-map {
    width: 751px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-map {
    width: 525px;
    padding-top: 161px;
  }
}
