.copyright {
  font-size: 19px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 18px;
  padding-top: 19px;
  padding-bottom: 27px;
  border-top: 1px solid #e5e5e5;
  width: 260px;
  justify-content: center;
}

.copyright__link {
  color: @black;
  display: flex;
  align-items: center;
  width: 186px;
}

.copyright__link-icon {
  padding-left: 30px;
  padding-top: 3px;
  fill: @lightgreen;
}

@media (min-width: @tablet-width) {
  .copyright {
    padding-top: 5px;
    padding-bottom: 0;
    padding-right: 49px;
    border: none;
    margin: 0;
    width: initial;
  }

  .copyright__link {
    &:hover .copyright__link-icon {
      fill: @darkgreen;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }

    &:active .copyright__link-icon {
      opacity: 0.3;
    }
  }

  .copyright__link-icon {
    padding-top: 9px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    padding-top: 7px;
    padding-right: 1px;
  }

  .copyright__link {
    width: 183px;
  }

  .copyright__link-icon {
    padding-top: 4px;
    padding-left: 29px;
  }
}
