.copyright {
  font-size: 19px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 28px;
  padding-top: 19px;
  padding-bottom: 27px;
  border-top: 1px solid #e5e5e5;
  width: 260px;
  justify-content: center;
}

.copyright__link {
  padding-left: 29px;
}

@media (min-width: @tablet-width) {
  .copyright {
    padding-top: 6px;
    padding-bottom: 0;
    border: none;
    margin: 0;
    width: initial;
  }
}
