.feedback {
  width: 262px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.feedback__title {
  .title();
  padding-top: 54px;
  margin: 0;
}

.feedback__newfeedback {
  .link-btn();
  margin: 0;
  margin-top: 38px;
  padding-bottom: 14px;

  &:hover {
    color: @white;
    background-color: @grayish;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .feedback {
    width: 768px;
    min-height: 457px;
    margin-top: 83px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .feedback__container {
    display: flex;
    width: 675px;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
  }

  .feedback__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 77px;
  }

  .feedback__newfeedback {
    font-size: inherit;
    margin-top: 0;
    width: 171px;
    position: absolute;
    top: 79px;
    right: 4px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    width: 1053px;
    background-position: 1px 6px;
    min-height: 464px;
  }

  .feedback__container {
    width: 821px;
    padding-left: 117px;
  }

  .feedback__title {
    font-size: 53px;
    line-height: 57px;
  }

  .feedback__newfeedback {
    top: 85px;
    right: -56px;
  }
}
