.feedback-paginator {
  display: flex;
}

.feedback-paginator__button {
  display: flex;
  justify-content: center;
  width: 130px;
  min-height: 52px;
  border: 1px solid @border-gray;
  background-color: @white;
}

@media (min-width: @tablet-width) {
  .feedback-paginator {
    position: absolute;
    bottom: 35px;
    right: 2px;
    width: 175px;
  }

  .feedback-paginator__button {
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .feedback-paginator {
    bottom: 33px;
    right: -55px;
  }
}
