.feedback {
  width: 262px;
  margin: 0 auto;
}

.feedback__title {
  .title();
  padding-top: 56px;
  margin: 0;
}

.feedback__newfeedback {
  .link-btn();
  margin: 0;
  margin-top: 38px;
  padding-bottom: 14px;
}

@media (min-width: @tablet-width) {
  .feedback {
    width: 750px;
    min-height: 457px;
    margin-top: 82px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  .feedback__container {
    display: flex;
    width: 653px;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
  }

  .feedback__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 77px;
  }

  .feedback__newfeedback {
    font-size: inherit;
    margin-top: 0;
    width: 175px;
    position: absolute;
    top: 79px;
    right: -17px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    width: 1050px;
    background-position: 1px 6px;
    min-height: 464px;
  }

  .feedback__container {
    width: 821px;
    padding-left: 120px;
  }

  .feedback__title {
    font-size: 53px;
    line-height: 57px;
  }

  .feedback__newfeedback {
    top: 86px;
    right: -58px;
  }
}
