.feedback-item {
  .margin-reset();
}

.feedback-item__text {
  .small-text();
  line-height: 30px;
  .margin-reset();
  padding-top: 38px;
  padding-bottom: 38px;
}

.feedback-item__name {
  font-style: normal;
  .margin-reset();
}

.feedback-item__username {
  font-weight: 400;
  line-height: 30px;
  .margin-reset();
  padding-bottom: 36px;
}
