.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @darkgray;
  width: 303px;
  margin: 0 auto;
  padding-top: 25px;

  &--form {
    margin-top: 55px;
  }
}

.footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 751px;
    padding-left: 51px;
    padding-right: 51px;
    padding-bottom: 50px;
    padding-top: 45px;
  }

  .footer__logo {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: 1133px;
  }
}
