.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @darkgray;
  margin: 0;
  padding-top: 25px;

  &--form {
    margin-top: 55px;
  }
}

.footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 51px;
    padding-right: 51px;
    padding-bottom: 25px;
  }

  .footer__logo {
    display: block;
  }
}
