.form-field__label {
  line-height: 18px;
}

.form-field__input::placeholder,
.form-field__textarea::placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
}

.form-field__input--tel::placeholder {
  font-size: 19px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
}
