.header {
  position: relative;
  width: 303px;
  margin: 0 auto;
}

.header__logo {
  display: block;
  width: 86px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px;
}

.header__toggle {
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: transparent;
  border: none;
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 79px;
}

@media (min-width: @tablet-width) {
  .header {
    width: initial;
    background: linear-gradient(to bottom, @white 0%, @white 65%, @darkgray 50%, @darkgray 100%);

    &--index {
      background: linear-gradient(to bottom, @white 0%, @white 65%, @lightgray 50%, @lightgray 100%);
    }
  }

  .header__logo {
    text-align: left;
    margin: initial;
    padding-left: 51px;
    flex-grow: 1;
    background-color: @white;
  }

  .header__toggle {
    display: none;
  }

  .header__wrapper {
    justify-content: initial;
  }
}

@media (min-width: @desktop-width) {
  .header__logo {
    text-align: center;
    order: 3;
    padding-left: 0;
    padding-right: 20px;
  }
}
