.product {
  border: 1px solid #ececec;
  margin-bottom: 30px;
}

.product__link {
  .body-font();
}

.product__details {
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  color: @grayish;
}

.product__price {
  font-size: 15px;
}
