.production-process__container {
  position: relative;
  border: 1px solid @border-gray;
  padding-bottom: 33px;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;
}

.production-process__title {
  font-size: inherit;
  padding-top: 29px;
  width: 55px;
  margin: 0 auto;
}

.production-process__video {
  padding-top: 26px;
}

.production-process__video-button {
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 101px;
  height: 77px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
}

.production-process__video-description {
  font-size: 13px;
  font-weight: 400;
  color: @grayish;
  padding-top: 34px;
  padding-bottom: 29px;
  width: 183px;
  margin: 0 auto;
}

.production-process__order-btn {
  color: @grayish;
  .link-btn();
  line-height: 16px;
  width: 192px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .production-process__container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 670px;
  }

  .production-process__title {
    font-size: 20px;
    width: 241px;
    order: 2;
    margin: 0;
    padding-left: 113px;
  }

  .production-process__video {
    width: 668px;
    height: 455px;
    padding-top: 0;
    order: 1;
  }

  .production-process__video-button {
    top: 195px;
  }

  .production-process__video-description {
    width: 581px;
    font-size: 15px;
    line-height: 30px;
    order: 3;
  }

  .production-process__order-btn {
    width: 584px;
    order: 4;
  }
}

@media (min-width: @desktop-width) {
  .production-process__container {
    position: relative;
    min-height: 455px;
    padding-bottom: 0;
    display: block;
    box-sizing: content-box;
    width: 1048px;
  }

  .production-process__title {
    width: 148px;
    padding-left: 0;
    padding-top: 100px;
    margin: 0 50px 0 auto;
  }

  .production-process__video {
    width: 682px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .production-process__video-button {
    transform: translate(0, 0);
    left: 285px;
  }

  .production-process__video-description {
    width: 225px;
    margin: 0 50px 0 auto;
    padding-bottom: 51px;
  }

  .production-process__order-btn {
    width: 230px;
    margin: 0 50px 0 auto;
    font-size: inherit;
  }
}
