.production-process__container {
  position: relative;
  border: 1px solid @border-gray;
  padding-bottom: 33px;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px;
}

.production-process__title {
  font-size: inherit;
  position: relative;
  padding-top: 23px;
  width: 77px;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: "";
    top: 30px;
    left: -56px;
    width: 32px;
    height: 33px;
    background-image: url("../img/icon-video.svg");
  }
}

.production-process__video {
  padding-top: 26px;
}

.production-process__video-button {
  position: absolute;
  top: 133px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 101px;
  height: 77px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
}

.production-process__video-description {
  font-size: 13px;
  font-weight: 400;
  color: @grayish;
  padding-top: 22px;
  padding-bottom: 23px;
  width: 189px;
  margin: 0 auto;
}

.production-process__order-btn {
  color: @grayish;
  .link-btn();
  font-size: inherit;
  line-height: 16px;
  width: 192px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .production-process {
    width: 666px;
    margin: 0 auto;
  }

  .production-process__container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 669px;
    margin-bottom: 63px;
    padding-bottom: 44px;
  }

  .production-process__title {
    font-size: 20px;
    width: 241px;
    order: 2;
    margin: 0;
    padding-left: 105px;
    padding-top: 31px;

    &::before {
      top: 27px;
      left: 43px;
    }
  }

  .production-process__video {
    width: 668px;
    height: 455px;
    padding-top: 0;
    order: 1;
  }

  .production-process__video-button {
    top: 188px;
  }

  .production-process__video-description {
    width: 581px;
    font-size: 15px;
    line-height: 30px;
    order: 3;
    padding-top: 34px;
    padding-bottom: 35px;
  }

  .production-process__order-btn {
    width: 584px;
    order: 4;
  }
}

@media (min-width: @desktop-width) {
  .production-process {
    width: 1132px;
    margin-top: 5px;
    margin-bottom: 103px;
  }

  .production-process__container {
    position: relative;
    min-height: 455px;
    padding-bottom: 0;
    display: block;
    box-sizing: content-box;
    width: 1048px;
  }

  .production-process__title {
    width: 225px;
    padding-left: 0;
    padding-top: 94px;
    margin: 0 63px 0 auto;

    &::before {
      top: 41px;
      left: 2px;
    }
  }

  .production-process__video-player {
    width: 682px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .production-process__video-button {
    transform: translate(0, 0);
    left: 291px;
    top: 189px;
  }

  .production-process__video-description {
    width: 238px;
    margin: 0 50px 0 auto;
    padding-bottom: 47px;
  }

  .production-process__order-btn {
    font-size: inherit;
    width: 230px;
    margin: 0 55px 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 30px;
  }
}
