.social-list {
  .list-reset();
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 303px;
  justify-content: center;
}

.social-list__item {
  padding-left: 18px;
  padding-right: 23px;
  padding-bottom: 10px;
}

.social-list__link {
  display: block;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
  }

  &--instagram {
    width: 22px;
    height: 21px;

    &::before {
      width: 22px;
      height: 21px;
      background-image: url("../img/icon-insta.svg");
    }
  }

  &--facebook {
    width: 15px;
    height: 28px;

    &::before {
      width: 15px;
      height: 28px;
      background-image: url("../img/icon-fb.svg");
    }
  }

  &--twitter {
    width: 23px;
    height: 20px;

    &::before {
      width: 23px;
      height: 20px;
      background-image: url("../img/icon-twitter.svg");
    }
  }
}

@media (min-width: @tablet-width) {
  .social-list {
    padding-left: 81px;
    padding-top: 12px;
  }
}
