.week-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .week-offer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 666px;
    padding-left: 9px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .week-offer {
    position: relative;
    width: 1030px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
