.week-offer {
  margin: 0;
}

.week-offer__product {
  .title();
  margin: 0;
  padding-top: 34px;
  padding-bottom: 8px;
}

.week-offer__title {
  line-height: 20px;
  color: #63d1bb;
  margin: 0;
}

.week-offer__description {
  .small-text();
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.week-offer__details {
  .small-text();
  line-height: 20px;
}

.week-offer__image {
  padding-top: 28px;
  padding-bottom: 28px;
}

.week-offer__price {
  color: @grayish;
  margin: 0;
  padding-bottom: 28px;
}
