.write-us {
  margin: 0 auto;
}

.write-us__link {
  .link-btn();
  margin: 0;
  width: 256px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 39px;
  margin-bottom: 40px;

  &:hover {
    color: @white;
    background-color: @grayish;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .write-us {
    margin-top: 15px;
  }

  .write-us__link {
    font-size: inherit;
    width: 226px;
  }
}

@media (min-width: @desktop-width) {
  .write-us {
    width: 235px;
    position: relative;
  }

  .write-us__link {
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    left: -233px;
    bottom: 16px;
    width: 230px;
  }
}
