@font: "Open Sans", "Times New Roman", Times, serif;
@head-color: #000000;
@grayish: #444444;
@white: #ffffff;
@banner-color: #f1f1f1;
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1150px;
