@font: "Open Sans", "Times New Roman", Times, serif;
@head-color: #000000;
@grayish: #444444;
@white: #ffffff;
@banner-color: #f1f1f1;
@banner-height: 177px;
@banner-index-bg: url("../../img/hero-mobile@1x.jpg");
